extends ./layouts/ticket.pug
block content
  tr
    td.email-body(width='100%' cellpadding='0' cellspacing='0')
      table.email-body_inner(align='center' width='570' cellpadding='0' cellspacing='0' role='presentation')
        // Body content
        tr
          td.content-cell
            .f-fallback
              h1 Hi #{name},
              p
                | Thanks for using Events254. This email is the order confirmation for 
                b #{eventName}. 
                | No payment is due.
              table.purchase(width='100%' cellpadding='0' cellspacing='0' role='presentation')
                tr
                  td
                    h3  #EV254KE#{ticketId}
                  td
                    h3.align-right #{date}
                tr
                  td(colspan='2')
                    table.purchase_content(width='100%' cellpadding='0' cellspacing='0')
                      tr
                        th.purchase_heading(align='left')
                          p.f-fallback Ticket type
                        th.purchase_heading(align='right')
                          p.f-fallback Amount
                      tr
                        td.purchase_item(width='80%')
                          span.f-fallback #{currentTicket.type}
                        td.align-right(width='20%')
                          span.f-fallback #{currentTicket.price}
                      tr
                        td.purchase_footer(width='80%' valign='middle')
                          p.f-fallback.purchase_total.purchase_total--label Total
                        td.purchase_footer(width='20%' valign='middle')
                          p.f-fallback.purchase_total #{currentTicket.price}
                | Cheers,
                br
                | The Events254 Team
              // Action
              table.body-action(align='center' width='100%' cellpadding='0' cellspacing='0' role='presentation')
                tr
                  td(align='center')
                    table(width='100%' border='0' cellspacing='0' cellpadding='0' role='presentation')
                      tr
                        td(align='center')
                          a.f-fallback.button.button--blue(href='{{action_url}}' target='_blank') Download as PDF
              table.body-sub(role='presentation')
                tr
                  td
                    p.f-fallback.sub
                      | Need a printable copy for your ticket? You can 
                      a(href='{{action_url}}') download a PDF version
                      | .

//- TODO add QR code and PDF